PUBLIC_NETWORK=base-sepolia
PUBLIC_RPC_URL=https://sepolia.base.org
PUBLIC_CHAIN_ID=84532
PUBLIC_CONFIRMATIONS=1
PUBLIC_TIMEOUT_SECONDS=300

DEPLOYER_PRIVATE_KEY=
REQUESTER_PRIVATE_KEY=
PROVIDER_PRIVATE_KEY=
ATTESTOR_PRIVATE_KEY=

DEPLOYER_ADDRESS=
REQUESTER_ADDRESS=
PROVIDER_ADDRESS=
ATTESTOR_ADDRESS=

JOB_ESCROW_WEI=10000000000000000
JOB_SPEC_HASH=0x1111111111111111111111111111111111111111111111111111111111111111
ORCHESTRATOR_BASE_URL=http://127.0.0.1:8000
